<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    {#<link rel="icon" href="/assets/icons/nav-ico.png">#}

    <title>We've got some trouble | {{ code }} - {{ title }}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link rel="stylesheet" href="/assets/css/error.css">
</head>
<body class="plain error-page-wrapper background-color background-image">
<div class="content-container">
    <div class="head-line secondary-text-color">
        {{ code }}
    </div>
    <div class="subheader primary-text-color">
        {{ nl2br(title) }}
    </div>
    <hr>
    <div class="clearfix"></div>
    <div class="context primary-text-color">
        <p>
            {{ nl2br(message) }}
        </p>
    </div>

    <div class="buttons-container">
        {% if defined(stacktrace) and show_stacktrace %}
            <a class="border-button" data-toggle="collapse" href="#stacktrace" aria-expanded="false"
               aria-controls="Show Stack Trace">
                Show Stack Trace
            </a>
        {% endif %}
        {% if defined(issue_link) and not hide_issue_link %}
            <a class="border-button" href="{{ issue_link }}" target="_blank">Report A Problem</a>
        {% endif %}
    </div>

    {% if defined(stacktrace) and show_stacktrace %}
        <div class="collapse" id="stacktrace">
            <pre class="card card-block">{{ stacktrace }}</pre>
        </div>
    {% endif %}
</div>

{# End of Visible Content #}
<script type="application/javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
<script>
    centerContent();

    // Fade in Content
    window.setTimeout(function () {
        $('.content-container').addClass('in');
    }, 500);


    function centerContent() {
        var $contentZContainer = $('.content-container');
        var containerHeight = $('body').outerHeight()
            , contentContainerHeight = $contentZContainer.outerHeight()
            , top = (containerHeight - contentContainerHeight) / 2
            , offset = 0;

        $contentZContainer.css('top', top + offset);
    }

    // Responsiveness
    $('body').on('resize', function (e) {
        e.preventDefault();
        e.stopPropagation();
        self.centerContent();
    });

    // hack to make sure content stays centered >_<
    $(window).on('resize', function () {
        $('body').trigger('resize')
    });
</script>

</body>
</html>
